          <div class="utility-right">
            <a class="btn-icon btn-icon--compact" href="/docs" aria-label="Help" data-i18n-aria="layout.nav.help" data-onlogout hidden>
              <span class="icon" data-icon="mono/help-circle"></span>
            </a>

            <button class="btn-icon btn-icon--compact" type="button" aria-label="Notifications" data-onlogin hidden>
              <span class="icon" data-icon="mono/bell"></span>
            </button>

            <button class="btn-chip btn-chip--input" type="button" data-onlogin aria-label="User" hidden>
              <span class="btn-chip__icon" data-icon="mono/user"></span>
              <span class="btn-chip__label" data-user-name data-i18n="layout.nav.guest">Guest</span>
            </button>

            <button class="btn-icon btn-icon--compact" type="button" data-onlogin data-action="logout" aria-label="Log out" data-i18n-aria="auth.logout" hidden>
              <span class="icon" data-icon="mono/log-out"></span>
            </button>
          </div>
