      <aside class="sidebar" data-sidebar>
        <div class="sidebar__head">
          <label class="sidebar-search">
            <span class="icon" data-icon="mono/magnify"></span>
            <input
              type="text"
              class="sidebar-search__input"
              placeholder="Search menu..."
              aria-label="Search menu"
              data-sidebar-search
            />
          </label>
          <button
            class="btn-icon btn-icon--compact"
            type="button"
            aria-label="Toggle sidebar"
            aria-expanded="true"
            data-sidebar-toggle
          >
            <span class="icon" data-icon="mono/menu-close"></span>
          </button>
        </div>

        <nav class="sidebar__nav">
          <a
            class="navitem{{#if (eq activePage 'dashboard')}} is-active{{/if}}"
            href="/dashboard.html"
            data-tooltip="Overview"
          >
            <span class="icon" data-icon="mono/home"></span>
            <span class="label" data-i18n="layout.nav.overview">Overview</span>
          </a>

          <a
            class="navitem{{#if (eq activePage 'integrations')}} is-active{{/if}}"
            href="#integrations"
            data-tooltip="Integrations"
          >
            <span class="icon" data-icon="mono/puzzle-outline"></span>
            <span class="label" data-i18n="layout.nav.integrations">Integrations</span>
          </a>

          <a
            class="navitem{{#if (eq activePage 'projects')}} is-active{{/if}}"
            href="#projects"
            data-tooltip="Projects"
          >
            <span class="icon" data-icon="mono/project"></span>
            <span class="label" data-i18n="layout.nav.projects">Projects</span>
          </a>

          <a
            class="navitem{{#if (eq activePage 'domains')}} is-active{{/if}}"
            href="#domains"
            data-tooltip="Domains"
          >
            <span class="icon" data-icon="mono/dns"></span>
            <span class="label" data-i18n="layout.nav.domains">Domains</span>
          </a>

          <a
            class="navitem{{#if (eq activePage 'sites')}} is-active{{/if}}"
            href="#sites"
            data-tooltip="Sites"
          >
            <span class="icon" data-icon="mono/web-sync"></span>
            <span class="label" data-i18n="layout.nav.sites">Sites</span>
          </a>

          <a
            class="navitem{{#if (eq activePage 'streams')}} is-active{{/if}}"
            href="#streams"
            data-tooltip="Streams"
          >
            <span class="icon" data-icon="mono/directions-fork"></span>
            <span class="label" data-i18n="layout.nav.streams">Streams</span>
          </a>

          <a
            class="navitem{{#if (eq activePage 'redirects')}} is-active{{/if}}"
            href="#redirects"
            data-tooltip="Redirects"
          >
            <span class="icon" data-icon="mono/directions"></span>
            <span class="label" data-i18n="layout.nav.redirects">Redirects</span>
          </a>

          <div class="sidebar__spacer"></div>

          <a
            class="navitem{{#if (eq activePage 'analytics')}} is-active{{/if}}"
            href="#analytics"
            data-tooltip="Analytics"
          >
            <span class="icon" data-icon="mono/analytics"></span>
            <span class="label" data-i18n="layout.nav.analytics">Analytics</span>
          </a>
        </nav>
      </aside>
