### Build output
public/
dist/

### Node
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

### CF Wrangler
.wrangler/
.wrangler-state/

### System files
.DS_Store
Thumbs.db

### IDE
.vscode/
.idea/

### Logs
*.log
logs/